In [1]:
import pandas as pd
import swifter

In [2]:
s = pd.read_csv("sentiment.csv", encoding="latin1", names=["target", "ids", "date", "flag", "user", "text"])
"""


    target: the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)

    ids: The id of the tweet ( 2087)

    date: the date of the tweet (Sat May 16 23:58:44 UTC 2009)

    flag: The query (lyx). If there is no query, then this value is NO_QUERY.

    user: the user that tweeted (robotickilldozr)

    text: the text of the tweet (Lyx is cool)

"""
s.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [3]:
s.target.value_counts()

4    800000
0    800000
Name: target, dtype: int64

In [4]:
s.dtypes

target     int64
ids        int64
date      object
flag      object
user      object
text      object
dtype: object

In [5]:
s.flag.value_counts()
s.drop("flag", axis=1, inplace=True)

In [6]:
s.drop("ids", axis=1, inplace=True)

In [7]:
s.drop("user", axis=1, inplace=True)

In [8]:
s.head()

,target,date,text
0,0,Mon Apr 06 22:19:45 PDT 2009,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,Mon Apr 06 22:19:49 PDT 2009,is upset that he can't update his Facebook by ...
2,0,Mon Apr 06 22:19:53 PDT 2009,@Kenichan I dived many times for the ball. Man...
3,0,Mon Apr 06 22:19:57 PDT 2009,my whole body feels itchy and like its on fire
4,0,Mon Apr 06 22:19:57 PDT 2009,"@nationwideclass no, it's not behaving at all...."

In [9]:
s['day_week'] = s['date'].apply(lambda date: ["mon", "tue", "wed", "thu", "fri", "sat", "sun"].index(date.split(" ")[0].lower()))
s.day_week.value_counts()

6    344555
5    330955
0    310205
4    225594
1    185850
3    106035
2     96806
Name: day_week, dtype: int64

In [10]:
s['month'] = s['date'].apply(lambda date: ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"].index(date.split(" ")[1].lower()))
s.month.value_counts()

5    923608
4    576367
3    100025
Name: month, dtype: int64

In [11]:
s['day'] = s['date'].apply(lambda date: int(date.split(" ")[2]))
s.day.value_counts()

1     118006
6     115036
7     113661
15    109781
30    103673
18    101227
31     94588
2      91626
17     87250
16     77126
3      76921
29     73827
19     70605
20     63824
5      58757
22     51083
21     27079
10     26029
14     25732
4      23323
25     19863
23     17171
28     15903
9      11739
26     10778
24      6299
11      4186
13      4066
27       841
Name: day, dtype: int64

In [12]:
s['full_hour'] = s['date'].apply(lambda date: date.split(" ")[3])
s.full_hour.value_counts()

07:29:48    66
07:09:41    61
06:14:26    60
23:15:36    57
06:59:47    55
            ..
13:22:15     1
17:30:34     1
12:43:33     1
12:44:03     1
10:49:02     1
Name: full_hour, Length: 86386, dtype: int64

In [13]:
s['hour'] = s['full_hour'].apply(lambda full_hour: int(full_hour.split(":")[0]))
s['minutes'] = s['full_hour'].apply(lambda full_hour: int(full_hour.split(":")[1]))
s['seconds'] = s['full_hour'].apply(lambda full_hour: int(full_hour.split(":")[2]))

In [14]:
s.head()

,target,date,text,day_week,month,day,full_hour,hour,minutes,seconds
0,0,Mon Apr 06 22:19:45 PDT 2009,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,3,6,22:19:45,22,19,45
1,0,Mon Apr 06 22:19:49 PDT 2009,is upset that he can't update his Facebook by ...,0,3,6,22:19:49,22,19,49
2,0,Mon Apr 06 22:19:53 PDT 2009,@Kenichan I dived many times for the ball. Man...,0,3,6,22:19:53,22,19,53
3,0,Mon Apr 06 22:19:57 PDT 2009,my whole body feels itchy and like its on fire,0,3,6,22:19:57,22,19,57
4,0,Mon Apr 06 22:19:57 PDT 2009,"@nationwideclass no, it's not behaving at all....",0,3,6,22:19:57,22,19,57

In [15]:
s.drop(["date", "full_hour"], axis=1, inplace=True)
s.head()

,target,text,day_week,month,day,hour,minutes,seconds
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,3,6,22,19,45
1,0,is upset that he can't update his Facebook by ...,0,3,6,22,19,49
2,0,@Kenichan I dived many times for the ball. Man...,0,3,6,22,19,53
3,0,my whole body feels itchy and like its on fire,0,3,6,22,19,57
4,0,"@nationwideclass no, it's not behaving at all....",0,3,6,22,19,57

In [16]:
s['clean_text'] = s.text.str.replace(r"@\w+", "USER_MENTIONS_NAME")
s['clean_text'] = s.clean_text.str.replace(r"#\w+", "FERNANDO_TRENDING_BRU")
s['clean_text'] = s.clean_text.str.replace(r"https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)", "URL_IRONHACK_ILLO")
s['clean_text'] = s.clean_text.str.replace(r"(:\)|:-\))", "HAPPY_EMOJY")
s['clean_text'] = s.clean_text.str.replace(r"(:\(|:-\()", "SAD_EMOJY")
s['clean_text'].head()

0    USER_MENTIONS_NAME URL_IRONHACK_ILLO - Awww, t...
1    is upset that he can't update his Facebook by ...
2    USER_MENTIONS_NAME I dived many times for the ...
3      my whole body feels itchy and like its on fire
4    USER_MENTIONS_NAME no, it's not behaving at al...
Name: clean_text, dtype: object

In [17]:
from sklearn.model_selection import train_test_split
X = s['clean_text']
y = s['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 42)

In [18]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, accuracy_score
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer

nb = Pipeline([('vect', CountVectorizer()),
               ('tfidf', TfidfTransformer()),
               ('clf', MultinomialNB()),
              ])
nb.fit(X_train, y_train)

y_pred = nb.predict(X_test)

print('accuracy %s' % accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

accuracy 0.7748125
              precision    recall  f1-score   support

           0       0.77      0.79      0.78    239361
           4       0.78      0.76      0.77    240639

    accuracy                           0.77    480000
   macro avg       0.78      0.77      0.77    480000
weighted avg       0.78      0.77      0.77    480000

In [19]:
X_predictions = nb.predict(X)

In [20]:
s['text_predictions'] = X_predictions

In [26]:
X_con_esteroides = s.drop(["target", "text", "clean_text"], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X_con_esteroides, y, test_size=0.3, random_state = 42)

In [27]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_jobs=-1)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print('accuracy %s' % accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

accuracy 0.8328041666666667
              precision    recall  f1-score   support

           0       0.83      0.83      0.83    239361
           4       0.83      0.83      0.83    240639

    accuracy                           0.83    480000
   macro avg       0.83      0.83      0.83    480000
weighted avg       0.83      0.83      0.83    480000

In [30]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.linear_model import Perceptron, LogisticRegression
from sklearn.ensemble import VotingClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 42)
nb = Pipeline([('vect', CountVectorizer()),
               ('tfidf', TfidfTransformer()),
               ('clf', VotingClassifier(
                   estimators=[("naive_bayes", MultinomialNB()),
                              ("logistic", LogisticRegression()),
                              ("perceptron", Perceptron())],
                   n_jobs=-1
               )),
              ])
nb.fit(X_train, y_train)

y_pred = nb.predict(X_test)

print('accuracy %s' % accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

accuracy 0.7902354166666666
              precision    recall  f1-score   support

           0       0.79      0.79      0.79    239361
           4       0.79      0.79      0.79    240639

    accuracy                           0.79    480000
   macro avg       0.79      0.79      0.79    480000
weighted avg       0.79      0.79      0.79    480000

Bagging and pasting