In [ ]:
import pandas as pd

fifa = pd.read_csv('fifa.csv')

fifa.head()

In [3]:
fifa.dtypes

Name               object
Age                 int64
Nationality        object
Overall             int64
Potential           int64
Club               object
Value              object
Preferred Foot     object
Position           object
Weak Foot         float64
Acceleration      float64
SprintSpeed       float64
Stamina           float64
Strength          float64
LongShots         float64
Aggression        float64
Interceptions     float64
Positioning       float64
Vision            float64
Penalties         float64
dtype: object

In [ ]:
def age_dog(x): 
    return x*7

fifa['dog'] = fifa.Age.apply(age_dog)
fifa.head()

In [6]:
fifa['dog'] = fifa.Age.apply(lambda x: age_dog(x))
fifa.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Preferred Foot,Position,Weak Foot,...,SprintSpeed,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,dog
0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,Left,RF,4.0,...,86.0,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0,217
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,Right,ST,4.0,...,91.0,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0,231
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,Right,LW,5.0,...,90.0,81.0,49.0,82.0,56.0,36.0,89.0,87.0,81.0,182
3,De Gea,27,Spain,91,93,Manchester United,€72M,Right,GK,3.0,...,58.0,43.0,64.0,12.0,38.0,30.0,12.0,68.0,40.0,189
4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,Right,RCM,5.0,...,76.0,90.0,75.0,91.0,76.0,61.0,87.0,94.0,79.0,189

In [7]:
def cat_age(age, over): 
    return age*7 + over

fifa['cat'] = fifa.apply(lambda row: cat_age(row['Age'], row['Overall']), axis=1)
fifa.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Preferred Foot,Position,Weak Foot,...,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,dog,cat
0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,Left,RF,4.0,...,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0,217,311
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,Right,ST,4.0,...,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0,231,325
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,Right,LW,5.0,...,81.0,49.0,82.0,56.0,36.0,89.0,87.0,81.0,182,274
3,De Gea,27,Spain,91,93,Manchester United,€72M,Right,GK,3.0,...,43.0,64.0,12.0,38.0,30.0,12.0,68.0,40.0,189,280
4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,Right,RCM,5.0,...,90.0,75.0,91.0,76.0,61.0,87.0,94.0,79.0,189,280