In [2]:
import pandas as pd

df = pd.read_csv('tableau_project.csv')

In [7]:
df.head()

,Unnamed: 0,journey_id,vehicle_type_id,start_type,start_at,start_lat,start_lon,end_at,end_lat,end_lon,...,price_distance,price_duration,distance,duration,source,rider_waiting_time,driver_waiting_time,price_supplements,discount,rating
0,0,93e6d216088af74c32183283d4bb2953,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-12-16 11:08:59,19.431363,-99.195362,2017-12-16 11:37:32,19.406438,-99.175260,...,"5,204",0,"7,943","1,058",Android,590,48,662,0,9.0
1,1,444b084ec64244919afadfba879876a3,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-12-16 11:06:16,19.431567,-99.195368,2017-12-16 11:07:21,NaN,NaN,...,0,0,0,0,iPhone,NaN,NaN,0,0,9.0
2,2,dbcc57f4e7606a71c74c6e4666a977a4,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-11-24 22:58:37,19.422052,-99.174499,2017-11-24 23:27:05,19.438666,-99.180821,...,"3,552",0,"3,054",689,Android,923,4,0,0,10.0
3,3,1ffe9a24033847148c683574985df56c,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-12-16 09:17:08,19.433119,-99.154844,2017-12-16 09:17:30,19.290148,-99.144407,...,0,0,0,0,iPhone,NaN,NaN,0,0,9.0
4,4,fb1ef7d070724482a33be41f27737ea5,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-11-24 18:11:00,19.440996,-99.183581,2017-11-24 18:31:31,19.422815,-99.174865,...,"2,974",12,"2,859",887,iPhone,329,36,0,0,8.0

In [5]:
df.dtypes

Unnamed: 0               int64
journey_id              object
vehicle_type_id         object
start_type              object
start_at                object
start_lat              float64
start_lon              float64
end_at                  object
end_lat                float64
end_lon                float64
end_state               object
price                   object
price_distance          object
price_duration          object
distance                object
duration                object
source                  object
rider_waiting_time      object
driver_waiting_time     object
price_supplements       object
discount                object
rating                 float64
dtype: object

In [8]:
df.describe()

,Unnamed: 0,start_lat,start_lon,end_lat,end_lon,rating
count,3864.000000,3864.000000,3864.000000,3807.000000,3807.000000,3864.000000
mean,1931.500000,19.412159,-99.195443,19.410835,-99.197221,8.289596
std,1115.585048,0.028146,0.040832,0.030001,0.044896,1.265744
min,0.000000,19.290513,-99.288274,19.196463,-99.655665,4.000000
25%,965.750000,19.405320,-99.207814,19.379486,-99.253980,8.000000
50%,1931.500000,19.422749,-99.175834,19.422749,-99.178435,9.000000
75%,2897.250000,19.426613,-99.170483,19.429759,-99.171955,9.000000
max,3863.000000,19.513544,-99.051114,19.517451,-99.048817,10.000000

In [10]:
df.columns

Index(['Unnamed: 0', 'journey_id', 'vehicle_type_id', 'start_type', 'start_at',
       'start_lat', 'start_lon', 'end_at', 'end_lat', 'end_lon', 'end_state',
       'price', 'price_distance', 'price_duration', 'distance', 'duration',
       'source', 'rider_waiting_time', 'driver_waiting_time',
       'price_supplements', 'discount', 'rating'],
      dtype='object')

In [ ]:
df.head()

In [15]:
all(df['Unnamed: 0'] == df.index)

True

In [17]:
df.drop(columns='Unnamed: 0', inplace=True)

In [18]:
df.columns

Index(['journey_id', 'vehicle_type_id', 'start_type', 'start_at', 'start_lat',
       'start_lon', 'end_at', 'end_lat', 'end_lon', 'end_state', 'price',
       'price_distance', 'price_duration', 'distance', 'duration', 'source',
       'rider_waiting_time', 'driver_waiting_time', 'price_supplements',
       'discount', 'rating'],
      dtype='object')

In [19]:
len(set(df.journey_id)) == len(df.journey_id)

True

In [20]:
df.set_index('journey_id', inplace=True)

In [ ]:
df.head()

In [24]:
numeric_cols = ['start_lat', 'start_lon', 'end_lat', 'end_lon', 'price', 
                'price_duration', 'distance', 'duration', 
                'rider_waiting_time', 'price_supplements', 'discount', 'rating']

df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric)
df.dtypes

ValueError: ('Unable to parse string "5,866" at position 0', 'occurred at index price')